body {
    background-color: #F9E2AF;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

ul,
ol {
    text-align: left;
}

h1 {
    color: #821131;
}